* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: white;
    color: #333;
    line-height: 1.6;
}

header {
    width: 100%;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
}
